/************************************************************************
index.css

Stylesheet for VoteForLea Web site

Created by: Mark Hardy
Last Updated: 03/14/2023
*************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Yantramanav:wght@500&display=swap');

body {
    font-family: "Yantramanav", Calibri, sans-serif;
    line-height: 1.5;
    margin: 0px;
    overflow-x: hidden;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 36px;
    line-height: 1.0;
}

h3 {
    font-size: 26px;
    line-height: 1.0;
}

p {
    font-size: 20px;
}

/********** NAVIGATION **********/
#header {
    background-color: white;
    border-bottom-color: rgb(1,22,137);
    border-bottom-style: solid;
    border-bottom-width: 5px;
    display: flex;
    font-weight: 100;
    height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

#logo {
    height: 100%;
    width: 30%;
}

#header-menu {
    margin-left: 10%;
    padding-right: 30px;
    padding-top: 10px;
    text-align: right;
    width: 70%;
}

.menu-text a {
    color: rgb(207, 20, 44);
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
    padding-left: 10px;
    text-decoration: none;
}

/********** PETITION POP-UP **********/
#petition-top {
    background-color: rgb(1, 22, 137);
    border: 5px solid white;
    border-radius: 50%;
    color: white;
    display: flex;
    height: 200px;
    margin: auto;
    margin-bottom: 0;
    margin-left: 80%;
    margin-top: 30%;
    padding-bottom: 0;
    position: fixed;
    text-align: center;
    width: 200px;
    z-index: 2;
}

#petition-text {
    bottom: 0;
    margin: auto;
    text-align: center;
    width: 100%;
}

#petition-text > h3,
#petition-text > h4,
#petition-text > h5,
#petition-text a {
    color: white;
    margin: auto;
    text-align: center;
}

#close-petition {
    background-color: rgb(1, 22, 137);
    border: none;
    color: white;
    height: 20px;
}

.hidden {
    visibility: hidden;
}

#petition-img {
    border: 3px solid white;
    border-radius: 50%;
    height: 25%;
    margin-left: 5%;
    margin-top: 10%;
    width: 25%;
}

#donate,
#petition {
    background-color: rgb(1,22,137);
    color: white;
    margin: 0;
    padding-bottom: 80px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

#petition-heading {
    margin-top: 8%;
}


.donate-red:hover,
.petition-btn:hover {
    background-color: rgb(199, 134, 143);
    background-color: white;
    border: 1px rgb(207,20,44) solid;
    color: rgb(207,20,44);
}

.petition-btn {
    height: 100px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    width: 80%;
}

.donate-red,
.donate-clean,
.petition-btn {
    background-color: rgb(207,20,44);
    border: 1px white solid;
    border-radius: 7px;
    color: white;
    font-size: 36px;
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;
    width: 150px;
}

.petition-btn {
    margin-left: 30%;
    height: 100px;
    width: 500px;
}

.donate-red {
    height: 150px;
    border-radius: 50%;
}

.donate-clean {
    border-radius: 50%;
    height: 150px;
    text-align: center;
}

.tooltip {
    display:inline-block;
    position:relative;
    text-align:left;
    margin-bottom: 40px;
}

.tooltip h3 {margin:12px 0;}

.tooltip .bottom {
    min-width:300px;
    max-width:600px;
    top:40px;
    left:50%;
    margin-left:20px;
    transform:translate(-50%, 0);
    padding:0;
    color:#EEEEEE;
    background-color:#444444;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .bottom {
    visibility:visible; opacity:1;
}

.tooltip .bottom img {
    margin-left: 20px;
    margin-top: 30px;
    height: 50px;
    width:50px;
    border-radius:8px 8px 0 0;
}

.tooltip .text-content {
    padding:10px 20px;
}

.tooltip .right i {
    position:absolute;
    bottom: 100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}
.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(50%,-50%) rotate(45deg);
    background-color:#444444;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}



.flex {
    display: flex;
    height: 60%;
    margin-top: 80px;
}

.mobile-flex {
    display: flex;
}

.flex > img {
    height: 300px;
    margin-right: 80px;
    width: 25%;
}

.underline {
    text-decoration: underline;
}

/********** HERO SECTION **********/
#background {
    background-image:
    linear-gradient(to right, rgba(15, 26, 87, 0.32), rgba(117, 19, 93, 0)),
    url('images/lea-speaking.png');
    background-position-x: center;
    background-position-y: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    display: inline-block;
    height: fit-content;
    margin-top: 92px;
    position:static;
    text-align: right;
    width: 100%;
}

#hero-text {
    color: white;
    height: 120px;
    margin-top: 20%;
    opacity: 1;
    padding-right: 1.5%;
    text-align: center;
    width: 55%;
}

#hero-sub-text {
    color: white;
    float: left;
    font-family: Calibri, sans-serif;
    font-weight: 100;
    text-align: center;
}

#hero-text h1 {
    background-color: rgb(207,20,44);
    font-size: 125px;
    line-height: 0.35;
    margin-bottom: 0;
}

/********** MEET LEA **********/
#bio {
    background-color: white;
}


.bio-section-left {
    color: rgb(30,42,58);
    width: 55%;
}

.bio-section-right {
    display: flex;
    padding-left: 10%;
    position: relative;
    width: 50%;
}

#bio-heading {
    text-align: center;
}

#bio-img {
    border: 10px solid rgb(118, 60, 12);
    margin-top: 50%;
    position: relative;
    width: 100%;
}

#bio-page {
    background-color: white;
    color:rgb(30, 42, 58);
    margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 125px;
}

#bio-btn {
    background-color:rgba(1, 22, 137);
    border: 1px solid white;
    bottom: -30px;
    right: 210px;
    color: white;
    height: 70px;
    position: absolute;
    width: 250px;
}

#bio-btn:hover {
    background-color: white;
    border: 1px solid rgb(1, 22, 137);
    color:rgb(1, 22, 137);
}

.bold {
    font-weight: 700;
}

#bio-box {
    margin-left: 5%;
    padding-bottom: 100px;
    width: 90%;
}

/********** VIDEO **********/
#video-container {
    background-image: url("images/desert.jpg");
    background-position-x: center;
    background-position-y: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 800px;
    padding-bottom: 200px;
    width: 100%;
}

#video-box {
    background-color: rgba(255, 255, 255, 0.53);
    height: 700px;
    margin: auto;
    width: 85%;
}

.video-frame {
    height: 600px;
    margin-left: 2.5%;
    margin-top: 40px;
    width: 95%;
}

#video-heading {
    display: flex;
    padding-bottom: 50px;
    padding-top: 50px;
}

.video-top {
    border-radius: 5px;
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin-left: 2%;
    padding: 3px;
    text-align: center;
    width: 30%;
}

/********** DONATE **********/
#donate-btns {
    display: flex;
}

/********** ISSUES **********/
#issues {
    background-image:
    linear-gradient(to bottom, rgba(117, 19, 93, 0.53), white),
    url('images/az-corp-comm.webp');
    background-position-x: center;
    background-position-y: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding-bottom: 120px;
    padding-top: 20px;
    text-align: center;
}

#issues-container {
    background-color: rgba(255, 255, 255, 0.53);
    display: flex;
    margin: auto;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 90%;
}

.issue {
    background-color: white;
    border: 1px rgb(207,20,44) solid;
    border-radius: 8px;
    margin: auto;
    height: 170px;
    padding: 20px;
    text-align: center;
    width: 170px;
}

.issue:hover {
    background-color: rgb(207,20,44);
    border: 1px white solid;
}

/********** RESULTS **********/
#results {
    background-image:
    linear-gradient(to bottom, rgba(117, 19, 93, 0.53), white),
    url('images/lea-meeting.webp');
    background-position-x: center;
    background-position-y: center;
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    padding-bottom: 120px;
    padding-top: 20px;
    text-align: center;
}

#results-container {
    display: flex;
    margin-top: 160px;
}

#results-box {
    background-color: rgba(255, 255, 255, 0.53);
    border: 1px rgb(207,20,44) solid;
    border-radius: 15px;
    color: rgb(1,22,137);
    margin-left: 17.5%;
    margin-right: 17.5%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: right;
    width: 65%;
}

.result {
    display: flex;
    height: 25%;
    vertical-align: middle;
}

.result p {
    font-size: 32px;
}

.result img {
    background-color: white;
    border: 1px rgb(207,20,44) solid;
    border-radius: 50%;
    margin-top: 30px;
    padding: 20px;
}

#family-photos {
    display: flex;
    height: 500px;
    text-align: center;
    width: 100%;
}

#family-photos > img {
    padding: 20px;
}









.red-bg {
    background-color: rgb(207,20,44);
}

.white-bg {
    background-color: white;
    color: rgb(207,20,44);
}

.blue-bg {
    background-color: rgb(1,22,137);
}

.white-text {
    color: white;
}

/********** SOCIAL **********/
#social-media {
    display: flex;
    height: 200px;
    margin-left: 30%;
    margin-top: 50px;
    width: 100%;
}

.social-container {
    height: 200px;
    width: 200px;
}

.social {
    height: 75px;
    width: 75px;
}

.social:hover {
    height: 100px;
    width: 100px;
}

.icon {
    height: 110px;
    width: 110px;
}

/********** JOIN LEA **********/
#join {
    background-color: rgb(207,20,44);
    color: white;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

#newsletter {
    padding-bottom: 50px;
}

.signup {
    border-radius: 5px;
    font-size: 40px;
    height: 60px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 40%;
}

#email {
    width: 82.5%;
}

.subscribe {
    background-color: rgb(1,22,137);
    border: 1px white solid;
    border-radius: 5px;
    color: white;
    font-size: 32px;
    height: 80px;
    width: 83%;
}

.subscribe:hover {
    background-color: white;
    border: 1px rgb(1,22,137) solid;
    color: rgb(1,22,137);
}

/********** FOOTER **********/
#footer {
    background-color: rgb(1,22,137);
    padding-bottom: 40px;
    padding-top: 40px;
}

#paid-for {
    border: 1px white solid;
    border-radius: 8px;
    color: white;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 60%;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

@keyframes spin3D {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
}

.spinhov3D:hover {
    animation-name: spin3D;
    animation-duration: 1s;
    animation-iteration-count: 1;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: ease-in-out;
}

.animated-link {
    color: black;
    transition: color 1000ms;
}

.animated-link:hover {
    color: red;
}

.sm-display {
    visibility: hidden;
}

.lg-display {
    visibility: visible;
}

.alert-text {
    color: rgb(207,20,44);
    text-decoration: underline;
}

#petition-sub {
    margin: auto;
    width: 80%;
}

#petition-heading > h1 {
    font-size: 62px;
}

@media screen and (max-width: 1100px) and (min-width: 800px) {
    #petition-heading > h1 {
        font-size: 62px;
        margin: auto;
    }

    #petition-sub {
        padding-top: 40px;
        width: 88%;
    }
    
    #hero {
        width: 600px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 550px) {
    #hero {
        width: 450px;
    }
}

@media screen and (max-width: 799px) and (min-width: 550px) {
    #petition-heading > h1 {
        margin: auto;
        width: 75%;
    }

    #petition-sub {
        padding-top: 30px;
        width: 75%;
    }

    #donation-btns {
        margin: auto;
        width: 70%;
        text-align: center;
    }

    #hero {
        width: 350px;
    }
}

@media only screen and (max-width: 992px) {
    body {
        font-family: Calibri, sans-serif;
        overflow-x: hidden;
        width: 100vw;
    }

    #donation-btns {
        margin: auto;
        text-align: center;
        width: 90%;
    }

    .donate-red,
    .donate-clean {
        border-radius: unset;
        font-size: 50px;
        height: 150px;
        width: 100%;
    }

    #petition-heading > h1 {
        margin: auto;
    }

    #petition-sub {
        padding-top: 20px;
    }

    .petition-h3 {
        font-size: 36px;
    }

    .petition-h5 {
        font-size: 10px;
    }

    #family-photos {
        display: block;
        height: auto;
    }

    #family-photos > img {
        height: 250px;
        width: 200px;
    }

    #background,
    #petition,
    #video-container,
    #bio,
    #join,
    #donate,
    #petition,
    #footer {
        height: fit-content;
        width: 100vw;
    }
    /*
    #bio {
        height: 130vh;
    }

    #video-container {
        height: 60vh;
    }

    #join {
        height: 50vh;
    }

    #petition {
        height: 90vh;
    }

    #footer {
        height: 50vh;
    }*/

    #donate {
        padding-bottom: 150px;
    }

    #issues {
        padding-top: 150px;
    }

    .icon {
        height: 200px;
        padding-top: 100px;
        width: 200px;
    }

    #header-menu {
        visibility: hidden;
        width: 0;
    }

    #header {
        text-align: center;
    }

    #logo {
        margin-left: 35%;
        width: 30%;
    }

    .mobile-flex {
        display: block;
    }

    #hero-text {
        margin: auto;
        padding-top: 5%;
        text-align: center;
        height: 900px;
        width: 100%;
    }

    #hero {
        width: 80%;
    }

    #hero > h1 {
        font-size: 150px;
    }

    #hero-sub-text {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    #hero-sub-text > h2 {
        font-size: 100px;
    }

    .donate-red {
        margin-bottom: 20px;
    }

    #social-media {
        margin-left: auto;
        width: 100%;
    }

    #video-box {
        height: 625px;
        margin-bottom: 200px;
    }

    #video-heading {
        display: block;
        margin: auto;
        margin-bottom: 150px;
        padding-top: 200px;
        width: 100%;
    }

    .video-top {
        margin: auto;
        text-align: center;
        width: 90%;
    }

    .video-p {
        font-size: 55px;
    }

    .video-frame {
        margin-top: 10px;
    }

    #issues-container {
        display: block;
    }

    .issue {
        font-size: 36px;
        height: max-content;
        width: 80%;
    }

    #results-box {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    #petition-top {
        bottom: 0;
        height: 450px;
        margin-left: 40%;
        width: 450px;
    }

    .petition-btn {
        font-size: 50px;
        margin-left: 0;
        height: 150px;
        margin-bottom: 100px;
        margin-top: 150px;
        width: 80%;
    }

    #petition-heading > h1 {
        font-size: 58px;
        margin-bottom: 100px;
    }

    #petition-text > h2 {
        font-size: 46px;
    }

    #petition-img {
        border: 3px solid white;
        border-radius: 20px;
        height: 600px;
        margin-bottom: 150px;
        margin-top: 300px;
        width: 600px;
    }

    .bio-section-left,
    .bio-section-right {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        width: 100%;
    }

    #bio-img,
    #bio-btn {
        margin: 0;
        width: 100%;
    }

    #bio-img {
        width: 90%;
    }

    #bio-btn {
        height: 10vh;
        font-size: 50px;
        left: none;
        margin-bottom: 300px;
        margin-top: 30px;
        position:unset;
        width: 90%;
    }

    #bio {
        font-family: Calibri, sans-serif;
        padding-left: 0;
        margin-left: 0;
        overflow-x: hidden;
    }

    #petition {
        overflow-x: hidden;
    }

    #bio-box {
        margin-left: 0;
        width: fit-content;
    }

    .bio-section-right {
        display: block;
        padding-left: 0;
        position: none;
        width: 100%;
    }

    .result {
        display: block;
        height: max-content;
        text-align: center;
    }

    .signup {
        width: 82.5%;
    }

    #join h1 {
        font-size: 64px;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .midway {
        padding: 0;
    }

    .grid-container {
        grid-column-gap: 0px;
        grid-template-columns: auto;
        height: unset;
        padding: 0;
        margin: 0;
    }

    .grid-text {
        display:unset;
        height: unset;
        margin: 0;
        padding: 0;
        opacity: 1;
    }

    .grid-text p {
        font-size: 18px;
        font-weight: 600;
        position: unset;
        text-align: center;
    }

    .grid-text img {
        display: block;
        margin: auto;
    }

    .sm-display {
        visibility: visible;
    }

    .lg-display {
        visibility: hidden;
    }

    #about {
        display: unset;
    }

    #about-text {
        margin-left: 10%;
        margin-right: 10%;
        text-overflow: clip;
        width: 80%;
    }

    #intro,
    #portfolio {
        height: unset;
    }

    #intro {
        width: 100%;
    }

    #portfolio-bottom img {
        padding-top: 100px;
    }

    .hvr-rectangle-in:hover:before,
    .hvr-rectangle-in:focus:before,
    .hvr-rectangle-in:active:before {
        -webkit-transform: unset;
        transform: unset;
    }

    h1 {
        font-size: 150px;
    }

    h2 {
        font-size: 100px;
    }

    h3 {
        font-size: 85px;
    }

    h4 {
        font-size: 70px;
    }

    h5, p {
        font-size: 50px;
    }

}